<phpunit bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="main">
            <file>tests/PrettyPrinterTest.php</file>
            <file>tests/UUIDTest.php</file>
        </testsuite>
        <testsuite name="dblayer">

        </testsuite>
    </testsuites>
</phpunit>