<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="main">
            <file>tests/ExceptionTest.php</file>
            <file>tests/PrettyPrinterTest.php</file>
            <file>tests/UtilTest.php</file>
            <file>tests/UUIDTest.php</file>
        </testsuite>
        <testsuite name="objects">
            <file>tests/ActiveRecordTest.php</file>
            <file>tests/ActiveRecordExportTest.php</file>
            <file>tests/SearchIndexTest.php</file>
            <file>tests/SearchRecordsTest.php</file>
        </testsuite>
        <testsuite name="dblayer">

        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>