<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="objects">
            <directory>tests/Objects</directory>
        </testsuite>
        <testsuite name="search">
            <directory>tests/Search</directory>
        </testsuite>
        <testsuite name="sqllayer">
            <directory>tests/SqlLayer</directory>
        </testsuite>
        <testsuite name="dblayer">
            <directory>tests/DatabaseLayer</directory>
        </testsuite>
        <testsuite name="utils">
            <directory>tests/Utils</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>Thru/ActiveRecord/Test</directory>
        </blacklist>
    </filter>
</phpunit>